
@font-face {
  font-family: 'SofiaPro-SemiBold';
  src: url('fonts/SofiaPro-SemiBold.eot?#iefix') format('embedded-opentype'),  url('fonts/SofiaPro-SemiBold.woff') format('woff'), url('fonts/SofiaPro-SemiBold.ttf')  format('truetype'), url('fonts/SofiaPro-SemiBold.svg#SofiaPro-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
