
@font-face {
  font-family: 'SofiaPro-Regular';
  src: url('fonts/SofiaPro-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/SofiaPro-Regular.woff') format('woff'), url('fonts/SofiaPro-Regular.ttf')  format('truetype'), url('fonts/SofiaPro-Regular.svg#SofiaPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal; 
}
